<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }
    .header nav ul {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
    .header nav ul li {
      list-style: none;
    }
    a {
      text-decoration: none;
    }
    button {
      padding: 10px 20px;
      cursor: pointer;
      /* border: none; */
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <header class="header">
    <nav>
      <ul>
        <li class="home">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/posts">Blogs</a>
        </li>
        <li>
          <a href="/create">Create</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/signup">Sign</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>