<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>
  <style>
    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <%-include('partials/header'); -%>
  <h1>Welcome to My Blog</h1>
</body>
</html>